*{
    margin: 0;
    padding: 0;
}
body{
    background: #eee;
    font-weight: 400;
    color: #222;
    font-size: 14px;
    font-family: sans-serif;
}
.container {
    max-width: 700px;   
    background: #fff;
    margin: 0px auto 0px; 
    border-radius: 3px;  
    padding: 40px;
    margin-top: 50px;
  }
  .header {
    margin-bottom: 30px;
  }
  .header-brand {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
h1 {
    font-size: 48px;
    font-weight: 700;
    color: black;
}
h3{
    font-size: px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.507);
}
h4{
    font-size: 35px;
    font-weight: 400;
    color: rgb(139, 133, 133);
}
a{
    color: #2812f1;
}
.contact-my {
    list-style-type: circle;
    margin-top: 10px;
}
.contact-my i {
    margin-right: 10px;

}
p{
    font-size: 15px;
}
.item-list , .training , .certifications , .languages , .project i{
    font-size: 18px;
}
